*.pyc
Pipfile.lock
*/.ipynb_checkpoints/*
*/logs
*.ipynb_checkpoints/*
*.png
*.jpg
*.pyt
*.npy
*.npz
*.gif
*.pcm
*.d
*.so
*.swp
*.png
*.pdf

nohup.out
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
