*.pyc
Pipfile.lock
**/.ipynb_checkpoints
*/logs
*.png
*.jpg
*.pyt
*.npy
*.npz
*.gif
*.pcm
*.d
*.so
*.swp
*.png
*.pdf
*.cache/*
*old/*
*.h5
*.hdf5
*.pyt
*.pytest_cache/*
nohup.out
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*build*
dat/kernel_10pvs.root
dat/trks_10pvs.root
